# Uploads directory
/uploads/

# Leftover core/plugin upgrade files
/upgrade/

# These reappear from time to time
/themes/twenty*

# drop-ins; these are managed at the platform-level
/object-cache.php
/db.php

# Build files
build
node_modules
vendor

# Log files
*.log

# Cache files
.phpcs/*.json

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.thumbsdb

# IDE files
*.code-workspace
.idea
.vscode
